@font-face {
  font-family: 'LogoFont'; 
  src:url('Poppins/Poppins-Medium.ttf')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* Temporary for testing*/
    background-color: #074259;
}

#container{
    grid-column: 7/4;
    grid-row: 2/1;
}

#container2{
    grid-column: 7/7;
    grid-row: 2/1;
}

.dropdown-selections{
    display: none;
    position: absolute;
    min-width: 280px;
    z-index: 1;
    text-indent: 10px;
}

.dropdown-contents{
    text-decoration: none;
    display: block;
    background-color: #074259;
    color: white;
    font-family: 'LogoFont', sans-serif;
    font-size: 24px;
    font-weight: 900;
}

#container:hover .dropdown-selections {
    display: block;
    top: 60%;
    left: 32%;
    padding: 20px;
}

#container2:hover .dropdown-selections {
    display: block;
    top: 60%;
    left: 78%;
    padding: 20px;
}

.dropdown-selections a:hover {
    background-color: black;
}

.disabled-link {
    color: white;
    pointer-events: none;
    cursor: not-allowed;
    text-decoration: none;
    font-family: 'LogoFont', sans-serif;
    font-size: 24px;
    display: inline-block;
    font-weight: 900;
}

.enabled-link {
    color: white;
    text-decoration: none;
    font-family: 'LogoFont', sans-serif;
    font-size: 24px;
    display: inline-block;
    font-weight: 900;
}

#myLink{
    grid-column: 7/2;
    grid-row: 2/1;
}

#myLink3{
    grid-column: 7/5;
    grid-row: 2/1;
}

#myLink4{
    grid-column: 7/6;
    grid-row: 2/1;
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #074259;
    z-index: -1;
}

nav {
    /* Make the sticky header have a box around it and make it not stop when moving past main screen */
    z-index: 6;
    display: grid;
    grid-template-columns: 10% 1fr 5% 1fr 1fr 1fr 10%;
    grid-template-rows: 100%;
    min-height: 15vh;
    color: white;
    align-items: center;    
    position: sticky;
    top: 0%;
    background-color: #074259;
}

#logo {
    grid-column: 7/4;
    grid-row: 2/1;
}

.navbar {
    font-family: 'LogoFont', sans-serif;
    font-size: 24px;
    display: inline-block;
}

.hamburger{
    grid-column: 1/7;
    grid-row: 2/1;
    max-width: 3vw;
    max-height: auto;
    justify-self: end;
}

section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.countries{
    width: 500px;
    border: black solid 5px;
    height: auto;
}

#america{
    position: absolute;
    left: 15%;
    top: 15%;
}

#china {
    position: absolute;
    left: 55%;
    top: 15%;
}

#europe {
    position: absolute;
    left: 15%;
    top: 60%;
}

#russia {
    position: absolute;
    left: 55%;
    top: 60%;
}

.hero{
    height: 60%;
    width: 100%;
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* make grippen not appear before */
.gripen{
    padding: 0%;
    margin: 0%;
    left: -100%;
    top: 35vh;
    width: 40%;
    height: auto;   
    z-index: 1;
    position:absolute;
}

.headline{
    font-family: 'LogoFont', sans-serif;
    position: absolute;
    top: 50%;
    left: 15%;
    font-size: 50px;
    color: white;
    transform: translate(-20%, -70%);
    z-index: 5;
}

.hero::after{
    content:"";
    background: white;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.1;
    left: 0;
    top: 0;
}
